input[type=text] {
    width:50%;
    margin-right:3em;
    box-sizing: border-box;
    font-family: 'Inder', sans-serif; 
    font-size: 25px; 
    color: rgb(0, 0, 0);
  }
.button-delete{
  float: right;
}
