.box{
    border: 3px dashed blue;
    width: 70%;
    margin:20px auto;
    padding: 5px;
}
.itemContent { font-family: 'Inder', sans-serif; 
    font-size: 25px; 
    color: #666;
    text-align: left; 
}